.token.tag,
.token.class-name,
.token.selector,
.token.selector .class,
.token.function {
  @apply text-fuchsia-600;
}

.dark .token.tag,
.dark .token.class-name,
.dark .token.selector,
.dark .token.selector .class,
.dark .token.function {
  @apply text-fuchsia-400;
}

.token.attr-name,
.token.keyword,
.token.rule,
.token.operator,
.token.pseudo-class,
.token.important {
  @apply text-cyan-600;
}

.dark .token.attr-name,
.dark .token.keyword,
.dark .token.rule,
.dark .token.operator,
.dark .token.pseudo-class,
.dark .token.important {
  @apply text-cyan-400;
}

.token.attr-value,
.token.class,
.token.string,
.token.number,
.token.unit,
.token.color {
  @apply text-lime-700;
}

.dark .token.attr-value,
.dark .token.class,
.dark .token.string,
.dark .token.number,
.dark .token.unit,
.dark .token.color {
  @apply text-lime-300;
}

.token.punctuation,
.token.module,
.token.property {
  @apply text-light-blue-700;
}

.dark .token.punctuation,
.dark .token.module,
.dark .token.property {
  @apply text-light-blue-200;
}

.token.atapply .token:not(.rule):not(.important) {
  color: inherit;
}

.language-shell .token:not(.comment) {
  color: inherit;
}

.language-css .token.function {
  color: inherit;
}

.dark .token.comment {
  @apply text-gray-400;
}

.token.comment {
  @apply text-gray-600;
}

.token.deleted:not(.prefix) {
  @apply relative block px-4 -mx-4;
}

.token.deleted:not(.prefix)::after {
  content: "";
  @apply absolute inset-0 block bg-opacity-25 pointer-events-none bg-rose-400;
}

.token.deleted.prefix {
  @apply text-gray-400 select-none;
}

.token.inserted:not(.prefix) {
  @apply block px-4 -mx-4 bg-opacity-50 bg-emerald-700;
}

.token.inserted.prefix {
  @apply text-opacity-75 select-none text-emerald-200;
}
