.player-wrapper {
  position: relative;
  margin: 0 auto;
  padding-top: min(calc(100vh - 60px), calc(720 / 1152 * 100%)); /* minimum value of: (viewport height - header), (aspect ratio height of video) */
  width: min(100%, calc((100vh - 60px) / 720 * 1152)); /* minimum value of: (container width), (aspect ratio width of video) */
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}
