/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@200;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@200;400;600&display=swap");

/* You can override the default Infima variables here. */
:root {
  /* --ifm-color-primary: #6700eb; */
  /* --ifm-color-primary-dark: #5d00d3; */
  /* --ifm-color-primary-darker: #5800c8; */
  /* --ifm-color-primary-darkest: #4800a5; */
  /* --ifm-color-primary-light: #7203ff; */
  /* --ifm-color-primary-lighter: #780fff; */
  /* --ifm-color-primary-lightest: #8c32ff; */
  /* --ifm-code-font-size: 95%; */
  /* --ifm-container-width: 900px; */
  --ifm-font-family-base: Libre Franklin, system-ui, -apple-system, Segoe UI, Roboto,
    Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --ifm-color-white: #f4f4f4;
  --ifm-menu-color-active: #6700eb;
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

.align-center {
  align-items: center;
}

.prism-code.language-bash .token-line:first-child > .token.plain:first-child:before {
  content: "> ";
  display: inline;
  color: var(--ifm-color-primary);
}

.admonition {
  color: #1a202c;
  margin-top: 2rem !important;
  margin-bottom: 2rem !important;
}

/* OVERRIDE UNTIL INFIRM IS REMOVED */
a:hover {
  color: inherit;
  text-decoration: inherit;
}

pre.prism-code .highlight {
  background: #dce8f2;
  border-left: 4px solid var(--ifm-menu-color-active);
  padding-left: 12px;
  margin-left: -16px;
  margin-right: -16px;
}

pre.prism-code {
  counter-reset: line;
}

pre.prism-code .token-line:before {
  counter-increment: line;
  content: counter(line);
  opacity: 0.3;
  margin-right: 8px;
}
